@{
    string usuario = Context.Session.GetString("USUARIO");
}

@if (usuario == null){
    <li class="nav-item">
        <a asp-controller="Home"
            asp-action="Login" class="nav-link">
            Log In
        </a>
    </li>
}else {
    <li class="nav-item">
        <a asp-controller="Home" asp-action="CerrarSesion"
        class="nav-link">
            Cerrar sesión @usuario
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Perfil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Mis pedidos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Comentarios</a>
    </li>
}