<h1>
    Upload Files
</h1>

<form method="post" enctype="multipart/form-data">
    <input type="file" name="fichero" class="form-control"/>
    <button class="btn btn-info">
        Upload File
    </button>
</form>

<h2 style="color:red">
    @ViewData["MENSAJE"]
</h2>

<img src="~/uploads/batman.jpg" style="width: 150px; height: 150px"/>

<a href="https://localhost:7172/uploads/batman.jpg">Mi fichero subido</a>


